<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <title>Homepage</title>
  </head>
  <body>
    

    <ul>
      <% messages.forEach((message) => { %> 
        <li>
            <h3>"<%= message.text %>"</h3>
            <p><b><i><%= message.user %></b></i> - <%= message.added %></p>
        </li> 
      <% }); %>
    </ul>

    
  </body>
</html>