<html>
  <head>
    
    <title>Messages</title>
  </head>
  <body>
    

    <ul>
      <% messages.forEach((message) => { %> 
        <li>
            <h3>"<%= message.text %>"</h3>
            <p><b><i><%= message.user %></b></i> - <%= message.added %> - <a href="/messages/<%= message.id %>">Message Details</a></p>
        </li> 
      <% }); %>
    </ul>

    <p><a href="/new">New Message</a></p>

    
  </body>
</html>