<html>
  <head>
    <title>Message Details</title>
  </head>
  <body>
    <p><b>Message ID:</b> <%= message.id %></p>
    <p><b>Message Text:</b> <%= message.text %></p>
    <p><b>User:</b> <%= message.user %></p>
    <p><b>Date added:</b> <%= message.added %></p>

    <p><a href="/">Go Back</a></p>
  </body>
</html>
